@page
@model IndexModel
@{
    ViewData["Title"] = "Página inicial";
}

<h2>GreEnv</h2>
<h6>Você sabe quanta energia está sendo gasta em sua casa nesse exato momento? Simule!</h6>

<form class="row" method="post">
    <div class="input-group col-md-4">
        <div class="col-md-7">
            <select class="form-control">
                @foreach (var equipamentos in Model.Equipamentos)
                {
                    <option value=@equipamentos.Id>@equipamentos.Nome</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <input asp-for="EquipamentoCasa.Quantidade" class="form-control" value="" placeholder="Quantidade">
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Incluir</button>
        </div>
    </div>
</form>

<div>
    <table class="table">
        <thead>
            <tr class="bg-info">
                <th></th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Tempo ligado</th>
            </tr>
        </thead>

        @foreach (var casa in Model.Casa.EquipamentosCasa)
        {
            <tbody>
                <tr>
                    <td>@casa.Equipamento.Id</td>
                    <td>@casa.Equipamento.Nome</td>
                    <td>@casa.Quantidade</td>
                    <td>@casa.HorasLigado Horas</td>
                </tr>

            </tbody>
        }
    </table>
</div>