@page
@model IndexModel
@{
    ViewData["Title"] = "Página inicial";
}

<h2>GreEnv</h2>
<h6>Você sabe quanta energia está sendo gasta em sua casa nesse exato momento? Simule!</h6>
<div>
    <form class="row" method="post">
        <div class="input-group col-md-6">
            <div class="col-md-7">
                <select asp-for="EquipamentoId"
                        asp-items="@(new SelectList(Model.Equipamentos,"Id","Nome"))">
                </select>
            </div>
            <div class="col-md-3">
                <input asp-for="EquipamentoCasa.Quantidade" class="form-control" value="" placeholder="Quantidade">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">Incluir</button>
            </div>
        </div>
    </form>
</div>

<div class="margin-teste">
    <table class="table">
        <thead>
            <tr class="bg-info">
                <th></th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Tempo ligado</th>
            </tr>
        </thead>

        @foreach (var casa in Model.Casa.EquipamentosCasa)
        {
            <tbody>
                <tr>
                    <td>@casa.Equipamento.Id</td>
                    <td>@casa.Equipamento.Nome</td>
                    <td>@casa.Quantidade</td>
                    <td>@casa.HorasLigado Horas</td>
                </tr>

            </tbody>
        }
    </table>
</div>